label {
    color: #fff;
    margin-bottom: 0.5rem;
}

form {
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem;
    margin: auto;
    max-width: 600px;
    margin-bottom: 5em;
}

form input,
form textarea {
    margin-bottom: 1.5rem;
    padding: 15px 18px;
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #927dfa;
    border-radius: 10px;
    outline: none;
    color: #000;
}

.form input::placeholder,
textarea::placeholder {
    font-family: poppins;
    font-size: 15.25px;
    font-weight: 600;
    line-height: 22.88px;
    letter-spacing: 0.08em;
    color: #898686;
}

.error {
    color: red;
    margin-bottom: 1rem;
}

.btn.bgClr {
    color: white;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}

.btn.bgClr:hover {
    background-color: #fff;
    color: #927dfa;
}

.clr_yellow {
    color: #927dfa;
}

@media screen and (max-width: 425px) {
    form input,
form textarea {
    margin-bottom: 1rem;
    padding: 10px 18px;
    font-size: 1rem;
}
.form input::placeholder,
textarea::placeholder {
    font-size: 12px;
    line-height: 18px;
}

}